<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="IDCheck.Properties.Settings.id_check_dbConnectionString2"
            connectionString="Data Source=PERVAC-PC\MSSQLSERVERX;Initial Catalog=id_check_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
